.about-me-div
  background-color: rgba(5, 5, 5, 0.5)
  border-radius: 1%

@media (min-width: 600px)
  .about-me-div
    background-color: rgba(5, 5, 5, 0.9)

@media only screen and (min-width: 773px)
  .about-me-div
    position: fixed
    width: calc(min(1250px, 90%))
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)