@import "_variable"

@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/_all"
@import "~bulma/sass/form/_all"
@import "~bulma/sass/components/_all"
@import "~bulma/sass/grid/_all"
@import "~bulma/sass/helpers/_all"
@import "~bulma/sass/layout/_all"

html
    scroll-behavior: smooth
    background-color: $primary
    width: 100%

body
  font-family: 'Fredoka One', cursive
  background-color: $primary
  width: 100vw  

@media only screen and (min-width: 773px)
  body
    background-image: url("./images/seattle.jpg")
    object-fit: inherit
    background-position: center
